<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>`CACSA-UI | ${docTitle}`</title>
    <style>
        section{
            display: flex;
            border: 1px solid blue;
            min-height: 50px;
        }
        div * {
            margin-bottom: 4px;
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <main class="container">
        <section>
            <div>
                <h3>Total Donation</h3>
                <amount>NGN 200,000</amount>
            </div>
            <div>
                <h3>Disbursed</h3>
                <amount>NGN 200,000</amount>
            </div>
            <div>
                <h3>Yet To Disburse</h3>
                <amount>NGN 200,000</amount>
            </div>
        </section>
        <section>
            <h4>Notification</h4>
            <h4>Donation History</h4>
            <h4>Donors' List</h4>
            
        </section>
    </main>
</body>
</html>