<%- include('includes/head.ejs') %>
    <style>
        section {
            display: flex;
            border: 1px solid blue;
            min-height: 50px;
        }

        div * {
            margin-bottom: 4px;
            margin-right: 5px;
        }
    </style>
    </head>

    <body>
            <%- include('includes/verify.ejs') %>
  
        <div>
            <%= donations %>
        </div>
        <section>
            <h4>Notification</h4>
            <h4>Donation History</h4>
            <h4>Donors' List</h4>
        </section>
</body>

    </html>