<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CACSA-UI</title>
    <link rel="stylesheet" href="./css/basic.css">
</head>

<body>
    <a href="/admin/login"><button  class="admin-login"> Admin </button></a>

    <% if(errorMessage.length > 1) { %>
        <div class="error-message"> <%= errorMessage[errorMessage.length -1] %> </div>
    <% } %>
    <section class="container">
        <form action="/auth/login" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" required value="sammy@gmail.com">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" required>
        </div>

        <button> Login </button>
        OR
        <button class="getsignup"><a href="/auth/signup"> Sign Up </a></button>
        
        <a class="reset"
        href="/auth/reset">Reset Password</a>
    </form>
    </section>
</body>

</html>